body{
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #D71675;
}
h1 {
    padding: 30px;
}
h2{
    padding:30px;
    font-size: 3em;
}
button{
    padding:30px;
    border:none;
}
button:hover{
    background-color: beige;
}